name: google_generative_ai
# Update `lib/version.dart` when changing version.
version: 0.4.1
description: >-
  The Google AI Dart SDK enables developers to use Google's state-of-the-art
  generative AI models (like Gemini).
repository: https://github.com/google-gemini/generative-ai-dart/tree/main/pkgs/google_generative_ai

environment:
  sdk: ^3.0.0

dependencies:
  http: ^1.1.0

dev_dependencies:
  lints: ^3.0.0
  matcher: ^0.12.16
  test: ^1.24.0
  yaml: ^3.1.0
