name: google_generative_ai
version: 0.1.1-wip
description: >-
  Google generative AI SDK API bindings for Dart - allows access to
  state-of-the-art LLMs.
repository: https://github.com/google/generative-ai-dart/tree/main/pkgs/google_generative_ai

environment:
  sdk: ^3.2.0

dependencies:
  http: ^1.1.0

dev_dependencies:
  collection: ^1.18.0
  lints: ^3.0.0
  matcher: ^0.12.16
  test: ^1.24.0
