name: samples_flutter

permissions: read-all

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/flutter_sample.yml'
      - 'pkgs/google_generative_ai/**'
      - 'samples/flutter_app/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/flutter_sample.yml'
      - 'pkgs/google_generative_ai/**'
      - 'samples/flutter_app/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: samples/flutter_app/
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
      - uses: subosito/flutter-action@44ac965b96f18d999802d4b807e3256d5a3f9fa1
        with:
          channel: stable
      - run: flutter pub get
      - run: flutter analyze --fatal-infos
      - run: dart format --set-exit-if-changed .
