name: samples_dart

permissions: read-all

on:
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/samples_dart.yml'
      - 'samples/dart/**'
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/samples_dart.yml'
      - 'samples/dart/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: samples/dart
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, dev]
        include:
          - sdk: stable
            check-formatting: true
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: dart-lang/setup-dart@ca7e6fee45ffbd82b555a7ebfc236d2c86439f5b
        with:
          sdk: ${{ matrix.sdk }}

      - run: dart pub get

      - run: dart analyze --fatal-infos

      - run: dart format --output=none --set-exit-if-changed .
        if: ${{matrix.check-formatting}}
